* {
    box-sizing: border-box;
}

.calculator{
    max-width: 320px;
    margin: auto;
    background-color: grey;
}

#display{
    font-family: 'Courier New', Courier, monospace;
    background: black;
    color: white;
    font-size: 2em;
    border: 0;
    padding: 0.3em;
    width: 100%;
    height: 50px;
}

.buttons{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    border: 0;
}

.button {
    height: 50px;
}

.button:hover{
    background: rgb(255, 255, 255);
}

#add:hover,
#subtract:hover,
#multiply:hover,
#divide:hover,
#equals:hover{
    background: white;
}

#equals,
#divide,
#clear,
#add,
#subtract,
#multiply{
    background: rgb(255, 166, 0);
}

#clear{
    grid-column: span 3;
}

#equals {
    grid-column: span 2;
}