.calculator {
    display: flex;
    height: 30rem;
    flex-direction: column;
    width: fit-content;

}

.output {
    display: flex;
    flex-direction: row-reverse;
}

.calculatorKeys {
    display: flex;
    height: 1.5rem;
}

.calculatorOperation {
    display: flex;
}

.calculatorNumber {
    display: flex;
}